services:
  caddy:
    image: caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy
    networks:
      - caddy_net
  website:
    image: ifc31c-iaw-cano-marcos
    networks:
        - caddy_net
networks:
  caddy_net:
